* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: lightgray;
    color: green;
    padding: 1em 2em
}

.container {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

h1, h2, p {
    padding-bottom: 10px;
}

p {
    width: 50%;
}

li {
    text-decoration-style: dashed;
}